@mixin pc-width() {
  @media screen and (min-width: 576px) {
    @content;
  }
}

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #fcfcfc;
  &--3 {
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
    @include pc-width() {
      width: 25%;
    }
  }
  &--9 {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    @include pc-width() {
        padding: 1rem 1rem 1rem 4rem;
      width: 75%;
    }
  }
  &--bright {
    background: #fff;
  }
}

.logo {
  text-align: center;
  &__pt {
    width: 5rem;
    height: auto;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    border: none;
    outline: none;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    background: #3a686e;
    font-size: 1.5rem;
    color: #fff;
    margin: 2rem auto 0;
  }
}
.nav {
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  overflow: hidden;
  &__item {
    margin: 2rem 0;
    padding: 1rem 0;
    &--focus {
      background: #f7f7f7;
    }
  }
}

.header {
  height: 3rem;
  display: flex;
  &__title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    a{
      text-decoration: none;
      color: #000;
      margin: 0 .25rem;
      &:hover{
        color: rgb(77, 77, 77);
      }
    }
  }
  &__tools,
  &__btn,
  &__search,
  &__image {
    display: none;
  }
  @include pc-width() {
    &__title {
      width: 60%;
    }
    &__tools {
      width: 40%;
      display: flex;
    }
    &__btn {
      width: 20%;
      display: flex;
    }
    &__search {
      width: 40%;
    }
    &__image {
      width: 40%;
      display: block;
      text-align: center;
    }
  }
}

.btn {
  
  align-items: center;
  &__item {
    border: 1.5px solid #5a5a5a;
    color: #5a5a5a;
    padding: 0.25rem;
    box-sizing: border-box;
    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      background: #cdf2f7;
    }
  }
}
.tools {
  display: flex;
  align-items: center;
  &__search {
    width: 70%;
    margin: 0 0.25rem;
    padding: 0.25rem;
    box-sizing: border-box;
    border: 1.5px solid #5a5a5a;
    border-radius: 10px;
    outline: none;
  }
  &__filter {
    width: 20%;
    margin: 0 0.5rem;
    text-align: center;
    &--warning{
      color: #bfeff0;;
    }
    &:hover{
      cursor: pointer;
      filter: brightness(.8);
    }
  }
}

.shot {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.content{
    margin-top: 5rem;
    &__title{
        font-size: 1.25rem;
        padding-bottom: .75rem;
        border-bottom: 1px solid #000;
        margin: 8rem 0 2rem;
    }
    &__files{
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        width: 4rem;
        text-align: center;
        margin: 1rem;
        position: relative;
        &:hover{
          cursor: pointer;
        }
        a{
          color: #000;
          text-decoration: none;
        }
    }
    &__add{
        border: 1px dashed #5a5a5a;
        display: flex;
        padding: 1rem;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 8rem;
        margin: 0 1rem;
        &:hover{
          cursor: pointer;
          background: rgb(243, 243, 243);
        }
    }
}

.folder{
    &__icon{
        font-size: 4rem;
        color: #FFE986;
    }
    &__name{
        font-size: .75rem;
        margin: .25rem 0;
        position: relative;
        word-break: break-all;
    }
    &__star{
        position: absolute;
        left: 90%;
        top: 90%;
        display: none;
    }
    &--warning{
      color: #ffda38;
    }
    
}

.file{
    &__icon{
        font-size: 4rem;
        color: #bfeff0;
    }
    &__name{
        font-size: .75rem;
        margin: .25rem 0;
        position: relative;
        word-break: break-all;
    }
    &__star{
        position: absolute;
        left: 90%;
        top: 90%;
        display: none;
    }
    &__message{
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 10rem;
      max-width: 90vw;
      transform: translateX(-50%);
      background: #FF99C8;
      color: #FFF;
      padding: .5rem;
      box-sizing: border-box;
      border-radius: 15px;
      display: none;
    }
    &--warning{
      color: #ffda38;
    }
}